<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <p>Enter the fields to register</p>
    <div class="row">
      <div class="form-group">
        <label for="username">Name:</label>
        <input type="text" formControlName="name" class="form-control">
        <span *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched" class="help-block">Please
          enter valid username</span>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control">
        <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">Please
          enter valid email</span>
      </div>
      <div class="radio" *ngFor="let gender of genders">
        <label>
          <input type="radio" formControlName="gender" [value]="gender">{{gender}}
        </label>
      </div>
      <br>
      <div class="form-group">
        <label for="mobileNo">Mobile No:</label>
        <input type="tel" formControlName="mobileNo" class="form-control">
        <span *ngIf="!registerForm.get('mobileNo').valid && registerForm.get('mobileNo').touched"
          class="help-block">Please enter valid Mobile No</span>
      </div>
      <button class="btn btn-primary" class="resetbtn" type="reset">Reset</button>
      <button class="btn btn-primary" class="regisbtn" type="submit">Register</button>
    </div>
  </div>
</form>
<div *ngIf="users.length>0">
  <table>
    <tr>
      <td>name</td>
      <td>email</td>
      <td>gender</td>
      <td>mobileNo</td>
    </tr>
    <!-- users: {{users | json}} -->
    <tr *ngFor="let u of users">
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td>{{u.gender}}</td>
      <td>{{u.mobileNo}}</td>
    </tr>
  </table>
</div>
